<h1>
  Course #<%= @course.id %> details
</h1>

<a href="/courses/<%= @course.id %>/edit">
  Edit course
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @course.title %>
  </dd>
  <dt>
    Department
  </dt>
  <dd>
    <%= Department.find(@course.department_id).name %>
  </dd>
  <dt>
    Number of Enrolled Students
  </dt>
  <dt>  
      <%= Enrollment.where(course_id: @course.id).count %>
  </dt>
  
</dl>

<a href="/delete_course/<%= @course.id %>">
  Delete course
</a>

<hr>

<a href="/courses">
  Go back
</a>



  <div class="card-header">
    Enroll a new student
  </div>

    <form action="/create_enrollment" method="post">
 
      <div class="form-group">
        <label for="student_id">
          Student
        </label>

         <%= select_tag("student_id", options_from_collection_for_select(Student.all, :id, :first_name, @enrollment.try(:student_id)), :class => "form-control") %>
    or <a href="/students/new">add a new student</a> First
      </div>
      

      <button class="btn btn-block btn-outline-secondary">
    Create enrollment
      </button>
    </form>